@import '../../styles/config';
@import '../../styles/mixins';      

.navbar {
    background-color: $rust-brown;
    padding-inline: 30px;
    padding-block: 10px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
        cursor: pointer;
    }
    .burger-menu {
        cursor: pointer;

        @include respond-to(medium) {
            display: none;
        }
    }

    .tags-container {
        display: none;

        @include respond-to(medium) {
            display: flex;
            gap: 20px;
        }

        .btns {
            border: none;
            background-color: transparent;
        }
    }

}