@import '../../styles/Mixins';

.FilterByTagsPage {
    padding-block: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-inline: auto;
    max-width: min(90%, 50rem);

    @include respond-to(small) {
        max-width: 364px;
    }
}