@import '../../styles/Config';
@import '../../styles/mixins';

.title {
    gap: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-align: start;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $grey;
    padding-block: 20px;

    .date {
        display: flex;
        flex-direction: column;
        height: auto;
        width: 3ch;
        line-height: 1.5;
    }

    .writing-title {
        font-size: $h2;
        line-height: 1.5;
        width: 100%;

        &:hover {
            color: $nostalic-green;
        }
    }

}